@mixin inline-animation($duration) {
    $name: inline-#{unique-id()};
  
    @keyframes #{$name} {
      @content;
    }
  
    animation-name: $name;
    animation-duration: $duration;
}

@keyframes fadeout {
    from {
        opacity: 1.0;
    } to {
        opacity: 0.0;
    }
}

@keyframes fadein {
    from {
        opacity: 0.0;
    } to {
        opacity: 1.0;
    }
}

.hide-creator {
    animation: fadeout 0.4s;
}

.creator-wrapper {
    position: relative;
}

.creator {
    position: absolute;
    width: 200px;
    margin: 20px;
    padding: 20px;
    font-size: 12px;
    border-radius: 16px;
    z-index: 100;
}

.creator::before {
    content: "";
    width: 40px;
    height: 40px;
    display: block;
    position: absolute;
    border-radius: 12px;
    transform: rotate(45deg);
    z-index: -1;
}

.directed-left.creator::before  { left: -10px; }
.directed-right.creator::before { right: -10px; }
.directed-below.creator::before { bottom: -10px; }
.directed-above.creator::before { top: -10px; }  

.directed-brcorner.creator::before { 
    bottom: -10px;
    right: 20px;
}  

// .creator.accent2-bg::before {
//     background-color: var(--accent2);
// }

.creator input {
    padding: 0px 10px;
    border: none;
    border-radius: 12px;
    margin: 5px 0;
}

.creator button {
    position: absolute;
    background: var(--base-txt);
    border: none;
    bottom: 25px;
    right: -18px;
    padding: 6px 8px;
    border-radius: 10px;
    font-family: "Roboto Slab";
    text-transform: uppercase;
    cursor: pointer;
}
  
.creator button path {
    fill: var(--base-container);
    opacity: 0.6;
    transition: opacity 0.2s;
}
  
.creator button:hover path {
    opacity: 1.0;
}

.create-button {
    background: none;
    border: none;
    cursor: pointer;
}

.create-button path {
    transition: fill 0.2s;
}

.create-button:hover path {
    fill: #9A9381;
}


@keyframes appear-searchcreator {
    from {
        opacity: 0;
        top: 40px;

    } to {
        opacity: 1;
        top: 0;
    }
}

.search-container .creator-wrapper {
    left: 0;
}

.search-container .creator {
    left: -35px;
    animation: appear-searchcreator 0.4s;
    width: 100%;
    max-width: 400px;
    display: flex;
}

.search-container .creator .input-group {
    width: 100%;
}

.search-container .creator .input-group:first-of-type {
    margin-right: 20px;
}


.creator .dropdown {
    // border: solid 2px var(--base-container);
    background-color: var(--base-container);
    border-radius: 8px;
    padding: 8px;
    margin: 5px 0;
}

.creator .option {
    display: flex;
    align-items: center;
    margin: 0;
}

.creator .option label {
    font-family: var(--overpass);
}

.search-container .creator .dropdown input + .radio {
    content: "";
    border: solid 2px rgb(var(--accent2));
    width: 12px;
    height: 12px;
    border-radius: 5px;
    margin-right: 5px;
}

.search-container .creator .dropdown input:checked + .radio {
    background-color: rgb(var(--accent2));
}

.search-container .creator .dropdown input:checked + .radio span {
    background-color: rgb(var(--accent2));
}

@keyframes appear-listcreator {
    from {
        opacity: 0;
        top: 0px;
    
    } to {
        opacity: 1;
        top: -40px;
    }
}

.todolists-container .creator {
    left: -250px;
    top: -40px;
    // transform: rotate(4deg);
    animation: appear-listcreator 0.4s;

    /*@include inline-animation(0.4s) {
        from {
            opacity: 0;
            top: 150px;
        
        } to {
            opacity: 1;
            top: 200px;
        }
    }*/
}

@keyframes appear-todocreator {
    from {
        opacity: 0;
        top: -250px;
    
    } to {
        opacity: 1;
        top: -210px;
    } 
}

.list-container .creator {
    // transform: rotate(6deg);
    top: -210px;
    left: -40px;
    animation: appear-todocreator 0.4s;

    /*@include inline-animation(0.4s) {
        from {
            opacity: 0;
            top: -100px;
        
        } to {
            opacity: 1;
            top: -65px;
        }
    }*/
}

.list-container .buttons-container .creator {
    top: -135px;
    left: 15px;
}


@keyframes appear-bookmarkscreator {
    from {
        opacity: 0;
        bottom: 80px;
    
    } to {
        opacity: 1;
        bottom: 60px;
    }
}

.bookmarks-container .creator {
    position: absolute;
    bottom: 60px;
    left: -32px;
    animation: appear-bookmarkscreator 0.4s;

    /*@include inline-animation(0.4s) {
        from {
            opacity: 0;
            bottom: 75px;
        
        } to {
            opacity: 1;
            bottom: 30px;
        }
    }*/
}

.bookmark .creator {
    left: -22px;
    bottom: 60px
}

.input-group {
    margin-bottom: 10px;
}

.alert {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.alert .input-group {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.alert button {
    position: relative;
    width: max-content!important;
    top: 0;
    left: 0;
    color: var(--base-container);
}

.alert button:first-child {
    background: none;
    color: var(--base-txt);
}