/* POLAROIDS */
.polaroid-container {
    background-color: #FFF8E5;
    padding: 20px 20px 48px 20px;
    margin: 50px;
    border-radius: 36px;
    position: relative;
    width: max-content;
    transform: rotate(-4deg);
    box-shadow: 0px 0px 22px 2px rgba(225, 217, 184, 0.20);
    cursor: pointer;
  }
  
  .polaroid-container::before {
    content: "Do it for him";
    position: absolute;
    font-family: 'Kalam', cursive;
    font-size: 1.5em;
    text-transform: lowercase;
    top: -60px;
    padding: 20px 5px;
  }
  
  .polaroid-container::after {
    content: "";
    position: absolute;
    background-image: url(https://cdn.pixabay.com/photo/2013/07/12/12/46/drawing-pin-146214_1280.png);
    background-size: 60px;
    background-repeat: no-repeat;
    width: 75px;
    height: 75px;
    left: 40%;
    right: 50%;
    top: 0px;
  }
  
  .polaroid-container img {
    width: 350px;
    aspect-ratio: 4 / 3;
    object-fit: cover;
    border-radius: 6px;
  }
  
  .polaroid-container input[type="file"] {
    display: none;
  }
  
  .upload-button {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #FFF8E5;
    padding: 10px;
    margin: 30px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
  }
  
  .upload-button path {
    transition: fill 0.2s;
  }
  
  .upload-button:hover path {
    fill: var(--accent1);
  }
  