/* SEARCH QUERY */
.search-container {
    width: 40vw;
}

.search-query {
    font-family: 'Plus Jakarta';
    font-size: 2.4em;
    font-weight: 700;
    line-height: 1.2em;
    text-align: left;
    text-transform: lowercase;
}
  
.inputGroup {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}
  
input[type="text"] {
    width: 100%;
    padding: 10px 50px;
}
  
.inputGroup .se-icon {
    position: absolute;
    width: 30px;
    height: 30px;
    margin: 10px;
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-color: rgba(255, 255, 255, 0);
}

.inputGroup .se-icon-google {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/c/c1/Google_%22G%22_logo.svg/1024px-Google_%22G%22_logo.svg.png');
}

.inputGroup .se-icon-duckduckgo {
    background-image: url('https://upload.wikimedia.org/wikipedia/en/9/90/The_DuckDuckGo_Duck.png');
}

.inputGroup .se-icon-brave {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/5/51/Brave_icon_lionface.png');
}
  
.inputGroup a {
    cursor: pointer;
    position: absolute;
    right: 0;
    margin: 10px;
}