/* SEARCH QUERY */
.search-container {
    width: 40vw;
    backdrop-filter: blur(20px);
    position: relative;
    padding: 20px;
    border-radius: 24px;
    box-shadow: 0px 0px 22px 2px rgba(225, 217, 184, 0.2);
}

// .search-container::after {
//     content: "";
//     position: absolute;
//     inset: 0;
//     z-index: -1;
 
//     background: red;
//     mask: linear-gradient(to top, transparent, var(--base-bg) 35%);
//     backdrop-filter: blur(2px);
//  }

.search-query {
    font-family: 'Plus Jakarta';
    font-size: 2.4em;
    font-weight: 700;
    line-height: 1.2em;
    text-align: left;
    text-transform: lowercase;
}
  
.inputGroup {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}
  
input[type="text"] {
    width: 100%;
    padding: 10px 50px;
}
  
.inputGroup .se-icon {
    position: absolute;
    width: 30px;
    height: 30px;
    margin: 10px;
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 12px;
}

.inputGroup .se-icon-google {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/c/c1/Google_%22G%22_logo.svg/1024px-Google_%22G%22_logo.svg.png');
}

.inputGroup .se-icon-duckduckgo {
    background-image: url('https://upload.wikimedia.org/wikipedia/en/9/90/The_DuckDuckGo_Duck.png');
}

.inputGroup .se-icon-brave {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/5/51/Brave_icon_lionface.png');
}
  
.inputGroup a {
    cursor: pointer;
    position: absolute;
    right: 0;
    margin: 10px;
}


@media only screen and (max-width: 1080px) {
    .search-container {
        width: 90%;
    }

    .search-query {
        font-size: 2em;
    }
}

@media only screen and (max-width: 600px) {
    .search-query {
        font-size: 1.6em;
    }
}