.date {
    box-shadow: 0px 0px 22px 2px rgba(225, 217, 184, 0.2);
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 12px 36px 12px 12px;
    width: 100px;
    height: 100px;
    position: absolute;
    z-index: 2;
    right: 7%;
    top: -2%;
    cursor: pointer;
  }
  
  .date span:first-of-type {
    font-family: "Roboto Slab";
    font-size: 1.5em;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--base-bg);
  }
  
  .date span:last-of-type {
    font-family: "Plus Jakarta";
    font-size: 3em;
    font-weight: 800;
    color: var(--base-bg);
    margin: 10px 0;
  }
  
  .stickies-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  
  .stickies-container {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: flex-end;
    z-index: 1;
  }
  
  .sticky {
    position: absolute;
    cursor: grab;
    z-index: 1;
  }
  
  .top-sticky {
    z-index: 2;
  }

  .note-wrapper,
  .polaroid-wrapper {
    background-color: var(--base-container);
    padding: 20px;
    max-width: 350px;
    max-height: 350px;
    border-radius: 24px;
    box-shadow: 0px 0px 22px 2px rgba(225, 217, 184, 0.2);
  }
  
  .sticky-1 {
    transform: rotate(3deg);
  }
  
  .sticky-2 {
    transform: rotate(-3deg);
  }

  .sticky-3 {
    transform: rotate(6deg);
  }
  
  .sticky-4 {
    transform: rotate(-6deg);
  }

  .sticky-5 {
    transform: rotate(8deg);
  }
  
  .sticky-6 {
    transform: rotate(-6deg);
  }

  .sticky-7 {
    transform: rotate(10deg);
  }
  
  .sticky-8 {
    transform: rotate(-10deg);
  }

  .sticky-9 {
    transform: rotate(12deg);
  }
  
  .sticky-10 {
    transform: rotate(-12deg);
  }

  .sticky-accent0 {
    background-color: var(--base-container);
  }

  .sticky-accent0 path {
    fill: var(--secondary-txt);
  }
  
  .sticky-accent1 {
    background-color: hsl(var(--accent1-hsl), 90%);
  }
  
  .sticky-accent2 {
    background-color: hsl(var(--accent2-hsl), 90%);
  }
  
  .sticky-accent3 {
    background-color: hsl(var(--accent3-hsl), 90%);
  }
  
  .sticky textarea,
  .sticky input {
    position: relative;
    background: none;
    box-shadow: none;
    resize: none;
    font-family: "Kalam";
    text-transform: lowercase;
    letter-spacing: 1.5px;
    padding: 10px;
  }
  
  .sticky textarea:focus,
  .sticky textarea:focus-visible,
  .sticky input:focus,
  .sticky input:focus-visible {
    outline: none;
  }
  
  .sticky textarea {
    margin-top: 20px;
    width: 250px;
    height: 200px;
    line-height: 200%;
    overflow-x: hidden;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
  
  .sticky textarea::-webkit-scrollbar {
    display: none;
  }
  
  .sticky::after {
    content: "";
    position: absolute;
    background-image: url(https://cdn.pixabay.com/photo/2013/07/12/12/46/drawing-pin-146214_1280.png);
    background-size: 60px;
    background-repeat: no-repeat;
    width: 75px;
    height: 75px;
    top: 0px;
    right: 100%;
    left: 40%;
  }
  
  .polaroid img {
    aspect-ratio: 4/3;
    object-fit: cover;
    border-radius: 6px;
  }
  
  .img-align-top {
    object-position: top;
  }
  
  .img-align-center {
    object-position: center;
  }
  
  .img-align-bottom {
    object-position: bottom;
  }
  
  .polaroid-container input[type=file] {
    display: none;
  }
  
  .upload-button {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0);
    padding: 10px;
    margin: 30px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
  }
  
  .upload-button path {
    fill: var(--base-txt);
  }

  .stickies-wrapper .date:hover .buttons-container {
    display: flex;
  }
  
  .stickies-wrapper .buttons-container {
    display: none;
    flex-direction: column;
    position: absolute;
    bottom: -50px;
    left: -50px;
    width: 100%;
  }
  
  .stickies-wrapper .buttons-container button {
    position: relative;
    background-color: var(--secondary-txt);
    padding: 8px;
    border-radius: 12px;
    max-width: 30px;
  }
  
  .stickies-wrapper .note-button {
    top: 10px;
    left: 10px;
  }
  
  .stickies-wrapper .polaroid-button {
    top: 0px;
    left: 50px;
  }
  
  .stickies-wrapper .polaroid-container .buttons-container {
    display: none;
    flex-direction: row;
    bottom: 80px;
    left: 185px;
    // right: 0;
    width: auto;
  }
  
  .stickies-wrapper .polaroid-container:hover .buttons-container,
  .stickies-wrapper .polaroid-container:hover .upload-button {
    display: flex;
  }
  
  .stickies-wrapper .polaroid-container .buttons-container button {
    margin: 2px;
    background-color: var(--base-container);
    cursor: pointer;
  }
  
  .stickies-wrapper .polaroid-container .buttons-container button path {
    stroke: var(--secondary-txt);
  }
  
  .stickies-wrapper .polaroid-container .buttons-container button rect {
    fill: var(--secondary-txt);
  }
  
  .note .color-button {
    display: none;
    position: absolute;
    top: 16px;
    right: 16px;
    background-color: rgba(255, 255, 255, 0);
  }
  
  .note:hover .color-button {
    display: flex;
  }

  .sticky:hover .remove-button {
    display: flex;
  }

  .sticky .remove-button {
    display: none;
    position: absolute;
    width: 25px;
    height: 25px;
    top: 20px;
    right: -12px;
  }