@keyframes floating {
  0% { 
    border-radius: 14px 16px 14px 12px;

  } 45% { 
    border-radius: 12px 14px 16px 14px;

  } 72% { 
    border-radius: 14px 12px 14px 16px;

  } 90% { 
    border-radius: 16px 14px 12px 14px;

  } 100% {
    border-radius: 14px 16px 14px 12px;

  }
}


.date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 12px 36px 12px 12px;
  width: 100px;
  height: 100px;
  position: absolute;
  z-index: 2;
  right: 85px;
  top: -2%;
}

.date span:first-of-type {
  font-family: "Roboto Slab";
  font-size: 1.2em;
  font-weight: 400;
  text-transform: uppercase;
  color: rgb(var(--accent1-txt));
  padding: 15px 15px 0 15px;
  margin-right: 5px;
  cursor: default;
}

.date span:last-of-type {
  font-family: "Plus Jakarta";
  font-size: 2.5em;
  font-weight: 800;
  color: rgb(var(--accent1-txt));
  margin: 10px 0;
  padding: 0 15px 15px 15px;
  margin-right: 5px;
  cursor: default;
}

.stickies-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.stickies-container {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: flex-end;
  z-index: 1;
}
  
.sticky {
  position: absolute;
  cursor: move;
  z-index: 1;
}

.top-sticky {
  z-index: 2;
}

.note-wrapper,
.polaroid-wrapper {
  background-color: var(--base-container);
  padding: 20px;
  max-width: 350px;
  max-height: 350px;
  border-radius: 24px;
  box-shadow: 0px 0px 22px 2px var(--shadow);
  // box-shadow: 0px 0px 22px 2px rgba(0, 0, 0, 0.1);
}

.sticky-1 {
  transform: rotate(3deg);
}

.sticky-2 {
  transform: rotate(-3deg);
}

.sticky-3 {
  transform: rotate(6deg);
}

.sticky-4 {
  transform: rotate(-6deg);
}

.sticky-5 {
  transform: rotate(8deg);
}

.sticky-6 {
  transform: rotate(-6deg);
}

.sticky-7 {
  transform: rotate(10deg);
}

.sticky-8 {
  transform: rotate(-10deg);
}

.sticky-9 {
  transform: rotate(12deg);
}

.sticky-10 {
  transform: rotate(-12deg);
}

.sticky-accent0 {
  background-color: var(--base-container);
  // border: solid 1px ;
}

.sticky-accent0 path,
.sticky-accent0 rect {
  fill: var(--secondary-txt);
}

.light-theme .sticky-accent1 {
  background-color: hsl(var(--accent1-lt), 90%);
  border: solid 1px hsla(var(--accent1), 6%);
}

.light-theme .sticky-accent2 {
  background-color: hsl(var(--accent2-lt), 90%);
  border: solid 1px hsla(var(--accent2), 6%);

}

.light-theme .sticky-accent3 {
  background-color: hsl(var(--accent3-lt), 90%);
  border: solid 1px hsla(var(--accent3), 6%);
}

.dark-theme .sticky-accent1 {
  background-color: hsl(var(--accent1-dk), 20%, 50%);
  border: solid 1px hsla(var(--accent1), 6%);
}

.dark-theme .sticky-accent2 {
  background-color: hsl(var(--accent2-dk), 20%, 50%);
  border: solid 1px hsla(var(--accent2), 6%);
}

.dark-theme .sticky-accent3 {
  background-color: hsl(var(--accent3-dk), 20%, 50%);
  border: solid 1px hsla(var(--accent3), 6%);
}

.dark-theme .sticky .accent1-fill path {
  fill: hsl(var(--accent1-lt), 75%) !important;
}

.dark-theme .sticky button.accent1-bg {
  background-color: hsl(var(--accent1-lt), 75%) !important;
}

.dark-theme .sticky .accent2-fill path {
  fill: hsl(var(--accent2-lt), 75%) !important;
}

.dark-theme .sticky button.accent2-bg {
  background-color: hsl(var(--accent2-lt), 75%) !important;
}

.dark-theme .sticky .accent3-fill path {
  fill: hsl(var(--accent3-lt), 75%) !important;
}

.dark-theme .sticky button.accent3-bg {
  background-color: hsl(var(--accent3-lt), 75%) !important;
}


.sticky .textarea,
.sticky input {
  position: relative;
  background: none;
  box-shadow: none;
  resize: none;
  font-family: "Kalam";

  // text-transform: lowercase;
  letter-spacing: 1.5px;
  padding: 10px;
}

.sticky .textarea:focus,
.sticky .textarea:focus-visible,
.sticky input:focus,
.sticky input:focus-visible {
  outline: none;
}
  
.sticky .textarea {
  color: var(--base-txt);
  margin-top: 20px;
  width: 250px;
  height: 200px;
  line-height: 200%;
  overflow-x: hidden;
  -ms-overflow-style: none;
  cursor: text;

  /* Firefox */
  scrollbar-width: auto;
  scrollbar-color: var(--secondary-txt-lt) var(--subtle-border);
}

.sticky-accent1 .textarea {
  scrollbar-color: hsla(var(--accent1), 0.5) hsla(var(--accent1), 0.02);
}

.sticky-accent2 .textarea {
  scrollbar-color: hsla(var(--accent2), 0.5) hsla(var(--accent2), 0.02);
}

.sticky-accent3 .textarea {
  scrollbar-color: hsla(var(--accent3), 0.5) hsla(var(--accent3), 0.02);
}

/* Chrome, Edge, and Safari */
.sticky .textarea::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.sticky .textarea::-webkit-scrollbar-thumb {
  background-color: var(--secondary-txt-lt);
  border-radius: 10px;
  border: 0px none #ffffff;
}

.sticky .textarea::-webkit-scrollbar-track {
  background: var(--subtle-border);
  border-radius: 10px;
}

.accent0-pin,
.accent1-pin,
.accent2-pin,
.accent3-pin {
  content: "";
  position: absolute;
  background-size: 60px;
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  top: 0px;
  left: 45%;
  z-index: 2;
}

.pin-shadow {
  filter: blur(2px);
}

.accent1-pin .pin {
  fill: hsl(var(--accent1-lt), 62%);
}

.accent1-pin .pin-lighter {
  fill: hsl(var(--accent1-lt), 75%);
}

.accent1-pin .pin-darker {
  fill: hsl(var(--accent1-lt), 45%);
  filter: blur(2px) drop-shadow(-4px 4px 2px hsl(var(--accent1-lt), 50%));
}

.accent0-pin .pin,
.accent2-pin .pin {
  fill: hsl(var(--accent2-lt), 62%);
}

.accent0-pin .pin-lighter,
.accent2-pin .pin-lighter {
  fill: hsl(var(--accent2-lt), 75%);
}

.accent0-pin .pin-darker,
.accent2-pin .pin-darker {
  fill: hsl(var(--accent2-lt), 45%);
  filter: blur(2px) drop-shadow(-4px 4px 2px hsl(var(--accent2-lt), 50%));
}

.accent3-pin .pin {
  fill: hsl(var(--accent3-lt), 62%);
}

.accent3-pin .pin-lighter {
  fill: hsl(var(--accent3-lt), 75%);
}

.accent3-pin .pin-darker {
  fill: hsl(var(--accent3-lt), 45%);
  filter: blur(2px) drop-shadow(-4px 4px 2px hsl(var(--accent3-lt), 50%));
}

.polaroid img {
  aspect-ratio: 4/3;
  object-fit: cover;
  border-radius: 6px;
  transition: object-position 0.3s;
}

.img-align-top {
  object-position: top;
}

.img-align-center {
  object-position: center;
}

.img-align-bottom {
  object-position: bottom;
}

// .polaroid-container {
//   cursor: default;
// }

.polaroid-container input[type=file] {
  display: none;
}

.upload-button {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0);
  padding: 10px;
  margin: 30px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
}

.upload-button path {
  fill: var(--base-container);
  stroke: var(--secondary-txt);
  stroke-width: 2px;
}

.stickies-wrapper .polaroid-container .buttons-container {
  display: none;
  position: absolute;
  flex-direction: row;
  bottom: 80px;
  left: 185px;
  width: auto;
}

.stickies-wrapper .polaroid-container:hover .buttons-container,
.stickies-wrapper .polaroid-container:hover .upload-button {
  display: flex;
}

.stickies-wrapper .polaroid-container .buttons-container button {
  margin: 2px;
  background-color: var(--base-container);
  border-radius: 8px;
  padding: 5px;
  cursor: pointer;
}

.stickies-wrapper .polaroid-container .buttons-container button path {
  stroke: var(--secondary-txt);
}

.stickies-wrapper .polaroid-container .buttons-container button rect {
  fill: var(--secondary-txt);
}

@keyframes copy {
  0% {
    transform: translate(0px, 0px);

  } 50% {
    transform: translate(-3px, 3px);

  } 100% {
    transform: translate(0px, 0px);

  }
}

.copy-button {
  cursor: pointer;
  position: absolute;
  bottom: 20px;
}

.copy-button::after {
  content: attr(data-after);
  opacity: 0;
  transition: opacity 0.2s;

  position: absolute;
  width: max-content;
  top: -35px;
  left: -50px;

  font-size: 12px;
  font-family: var(--robo);
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--secondary-txt);

  background-color: var(--secondary-txt-lt);
  padding: 6px 12px;
  border-radius: 10px;
}

// .copy-button.accent1-fill::after {
//   color: hsl(var(--accent1));
// }

// .copy-button.accent2-fill::after {
//   color: hsl(var(--accent2));
// }

// .copy-button.accent3-fill::after {
//   color: hsl(var(--accent3));
// }

.copy-button:hover::after {
  opacity: 1;

}

.note .copy-button:hover path:nth-of-type(2),
.note .copy-button:hover path:nth-of-type(3) {
  animation: copy 0.4s;
}

.note .color-button {
  display: none;
  position: absolute;
  top: 16px;
  right: 16px;
  background-color: rgba(255, 255, 255, 0);
}

.note .copy-button {
  display: none;
  background-color: rgba(255, 255, 255, 0);
}

.note:hover .color-button,
.note:hover .copy-button {
  display: flex;
}

.sticky:hover .remove-button {
  display: flex;
}

.sticky .remove-button {
  display: none;
  position: absolute;
  width: 25px;
  height: 25px;
  top: 20px;
  right: -12px;
}

.accent0-bg {
  background-color: var(--secondary-txt-lt);
}

.sticky .accent0-bg {
  background-color: var(--secondary-txt);
}

.accent0-bg path {
  fill: #FFF;
}

@media only screen and (max-width: 1080px) {
  .stickies-wrapper {
    position: relative;
    width: max-content;
    margin-right: 25px;
  }

  .date {
    position: relative;
  }
}