.todolists-container {
    position: relative;
    display: inline-block;
    scrollbar-width: none;
    max-height: 50vh;
    max-width: 50vw;
    right: -135%;
    bottom: -125px;
    transition: transform 0.6s;
    will-change: transform;
}

.opened-left .todolists-container,
.opened-right .todolists-container {
    // right: -75%;
    transform: translateX(-75%);
}

.list-container {
    position: absolute;
    background-color: var(--base-container);
    border: solid 2.55px var(--base-container);
    border-radius: 24px;
    box-shadow: 0px 0px 22px 2px var(--shadow);
    height: 500px;
    width: 400px;
    padding: 20px 30px;
    cursor: pointer;
    transition: border-color 0.2s, transform 0.4s;
    top: 0;
    right: 30px;
  }

// div.list-container:not(.list-container:first-of-type) ul,
// div.list-container:not(.list-container:first-of-type) .creator-wrapper {
//     filter: blur(0px);
//     transition: filter 0.2s;
// }

// div.list-container:not(.list-container:first-of-type):hover ul,
// div.list-container:not(.list-container:first-of-type):hover .creator-wrapper {
//     filter: blur(6px);
// }

div.list-container:nth-of-type(1) {
    transform: rotate(-8deg);
}
  
.list-container:nth-of-type(2) .todo-list { max-height: 175px; }
div.list-container:nth-of-type(2) {
    transform: rotate(-12deg);
    top: 40px;
    z-index: 10;
}

.list-container:nth-of-type(3) .todo-list { max-height: 150px; }
div.list-container:nth-of-type(3) {
    transform: rotate(-16deg);
    top: 70px;
    z-index: 9;
}
 
.list-container:nth-of-type(4) .todo-list { max-height: 125px; }
div.list-container:nth-of-type(4) {
    transform: rotate(-20deg);
    top: 100px;
    z-index: 8;
}
  
.list-container:nth-of-type(5) .todo-list { max-height: 100px; }
div.list-container:nth-of-type(5) {
    transform: rotate(-24deg);
    top: 130px;
    z-index: 7;
}

div.list-container:nth-of-type(2):hover { transform: translate(-100px, 0) rotate(-12deg); }
div.list-container:nth-of-type(2):hover + div.list-container { transform: translate(-100px, 0) rotate(-16deg); }
div.list-container:nth-of-type(2):hover + div.list-container + div.list-container { transform: translate(-105px, 0) rotate(-20deg); }
div.list-container:nth-of-type(2):hover + div.list-container + div.list-container + div.list-container{ transform: translate(-110px, 0) rotate(-24deg); }
div.list-container:nth-of-type(3):hover { transform: translate(-100px, 0) rotate(-16deg); }
div.list-container:nth-of-type(3):hover + div.list-container { transform: translate(-100px, 0) rotate(-20deg); }
div.list-container:nth-of-type(3):hover + div.list-container + div.list-container { transform: translate(-100px, 0) rotate(-24deg); }
div.list-container:nth-of-type(4):hover { transform: translate(-100px, 0) rotate(-20deg); }
div.list-container:nth-of-type(4):hover + div.list-container { transform: translate(-100px, 0) rotate(-24deg); }
div.list-container:nth-of-type(5):hover { transform: translate(-100px, 0) rotate(-24deg); }

@keyframes pulseacc1 {
    0% {
        background-color: var(--base-container);
    } 50% {
        background-color: hsl(var(--accent1-lt), 95%);
    } 100% {
        background-color: var(--base-container);
    }
}

@keyframes pulseacc2 {
    0% {
        background-color: var(--base-container);
    } 50% {
        background-color: hsl(var(--accent2-lt), 95%);
    } 100% {
        background-color: var(--base-container);
    }
}

@keyframes pulseacc3 {
    0% {
        background-color: var(--base-container);
    } 50% {
        background-color: hsl(var(--accent3-lt), 95%);
    } 100% {
        background-color: var(--base-container);
    }
}

// .accent1-border-hover.list-container:not(.list-container:first-of-type):hover {
//     animation: pulseacc1 2s infinite;
// }

// .accent2-border-hover.list-container:not(.list-container:first-of-type):hover {
//     animation: pulseacc2 2s infinite;
// }

// .accent3-border-hover.list-container:not(.list-container:first-of-type):hover {
//     animation: pulseacc3 2s infinite;
// }

.accent1-border-hover.list-container .list-label:not(.selected-list .list-label) {
    background-color: hsl(var(--accent1));
}

.accent2-border-hover.list-container .list-label:not(.selected-list .list-label) {
    background-color: hsl(var(--accent2));
}

.accent3-border-hover.list-container .list-label:not(.selected-list .list-label) {
    background-color: hsl(var(--accent3));
}

  
.list-container h3 {
    position: relative;
    left: 0;
    top: 0;
    font-family: "Roboto Slab";
    color: var(--secondary-txt);
    margin-bottom: 20px;
    width: 50%;
}

.dark-theme .list-container h3 {
    color: var(--secondary-txt-lt);
}
  
.todo-list {
    padding: 0;
    overflow-y: scroll;
    max-height: 225px;
}

/* Firefox */
.todo-list {
    scrollbar-width: auto;
    scrollbar-color: var(--secondary-txt-lt) var(--subtle-border);
}

/* Chrome, Edge, and Safari */
.todo-list::-webkit-scrollbar {
    width: 12px;
}

.todo-list::-webkit-scrollbar-track {
    background: var(--subtle-border);
}

.todo-list::-webkit-scrollbar-thumb {
    background-color: var(--secondary-txt-lt);
    border-radius: 20px;
    border: 0px none #ffffff;
}

.todo-item + .creator-wrapper {
    position: absolute;
    left: -210px;
    top: 200px;
}

.todo-list + .creator-wrapper {
    margin: 10px 0;
    position: relative;
    top: 18px;
    left: -2px;
}

.todo-list + .creator-wrapper .creator {
    left: -100px;
}

.todo-list + .creator-wrapper .creator::before {
    right: 88px;
}
  
.todo-item {
    margin: 0;
    list-style-type: none;
    border-bottom: solid 2.55px var(--subtle-border);
    padding: 10px;
    transition: background-color 0.2s;
    cursor: move;
}

.todo-item.dragging-accent1 {
    border-top: solid 2.55px hsl(var(--accent1));
    background-color: var(--subtle-border);
}

.todo-item.dragging-accent2 {
    border-top: solid 2.55px hsl(var(--accent2));
    background-color: var(--subtle-border);
}

.todo-item.dragging-accent3 {
    border-top: solid 2.55px hsl(var(--accent3));
    background-color: var(--subtle-border);
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
}

.checkbox.accent1-bg {
    background-color: hsla(var(--accent1), 10%)!important;
}

.checkbox.accent2-bg {
    background-color: hsla(var(--accent2), 10%)!important;
}

.checkbox.accent3-bg {
    background-color: hsla(var(--accent3), 10%)!important;
}

.dark-theme .checkbox.accent1-bg {
    background-color: hsla(var(--accent1), 25%)!important;
}

.dark-theme .checkbox.accent2-bg {
    background-color: hsla(var(--accent2), 25%)!important;
}

.dark-theme .checkbox.accent3-bg {
    background-color: hsla(var(--accent3), 25%)!important;
}

.editing-todo .checkbox path {
    fill: var(--base-bg)!important;
    opacity: 0.7;
    transform-origin: center;
    animation: rotate 4s infinite;
    animation-timing-function: linear;
}

.editing-todo .checkbox {
    background-color: var(--base-txt)!important;
}

// .accent1-border-dance .editing-todo {
//     background-color: hsl(var(--accent1-lt), 95%);
// }

// .accent2-border-dance .editing-todo {
//     background-color: hsl(var(--accent2-lt), 95%);
// }

// .accent3-border-dance .editing-todo {
//     background-color: hsl(var(--accent3-lt), 95%);
// }

.todo-item:first-of-type {
    border-radius: 10px 10px 0 0;
}

.todo-item:first-of-type.dragging-accent1,
.todo-item:first-of-type.dragging-accent2,
.todo-item:first-of-type.dragging-accent3 {
    border-radius: 0;
}


.todo-item:last-of-type {
    border-radius: 0 0 10px 10px;
}

.todo-item:hover {
    background-color: var(--subtle-border);
}

.todo-item:last-of-type {
    border-bottom: none;
}
  
.todo-item a,
.todo-item span {
    text-decoration: none;
    font-family: var(--overpass);
    color: var(--secondary-txt);
    font-size: 1.1em;
}
  
.todo-item .row {
    align-items: flex-start;
}

.todo-item .checkbox {
    top: 3px;
}
  
.todo-item input:checked + label span {
    text-decoration: line-through;
}
  
.todo-item label:last-of-type {
    margin-left: 12px;
    max-width: 90%;
}
  
.todo-item input[type=checkbox] {
    display: none;
}
  
.selected-list {
    cursor: default;
    z-index: 20;
}

.todo-creator-wrapper {
    position: absolute;
    z-index: 50;
    // transform: rotate(-4deg);
    cursor: pointer;
    bottom: 100%;
    right: 80px;
}
  
button.list-container {
    left: 0;
}
  
button.list-container::before {
    content: "+ Add New List";
    position: absolute;
    display: block;
    opacity: 0;
    font-family: "Roboto Slab";
    text-transform: uppercase;
    font-size: 16px;
    color: hsl(var(--accent3));
    left: -90px;
    transform: rotate(-90deg);
    top: 75px;
    transition: opacity 0.2s;
}
  
button.list-container:hover {
    border-color: hsl(var(--accent3));
}
  
button.list-container:hover::before {
    opacity: 1;
}

.list-container .buttons-container {
    display: none;
}

.selected-list .buttons-container {
    display: flex;
    position: absolute;
    top: 20px;
    left: 200px;
}

.selected-list .buttons-container button:not(.creator button) {
    width: 32px;
    height: 32px;
    margin: 0 5px;
    background: none;
}

@keyframes border-dance {
    0% {
        background-position: 0 0, 100% 100%, 0 100%, 100% 0;
    }
    100% {
        background-position: 100% 0, 0 100%, 0 0, 100% 100%;
    }
}

.editing-list::before {
    content: "";
    // display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: 24px 2px, 24px 2px, 2px 24px, 2px 24px;
    margin: -22px -32px;
    border-radius: 25px;
    animation: border-dance 20s infinite linear;
    z-index: -1;
}

.editing-list:first-of-type input:not(.creator input) {
    box-shadow: none;
    font-family: "Roboto Slab";
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 24px;
    color: var(--secondary-txt);
    border-radius: 4px;
    width: 50%;
    margin-bottom: 16px;
    background-color: var(--subtle-border);
    padding: 6px 0;
}

@media only screen and (max-width: 1024px) {
    .todolists-container {
        width: 60vw;
    }

    button.list-container {
        left: 500px;
    }

    div.list-container:nth-of-type(1) {
        left: 300px;
    }
      
    div.list-container:nth-of-type(2) {
        left: 275px;
    }
      
    div.list-container:nth-of-type(3) {
        left: 250px;
    }
      
    div.list-container:nth-of-type(4) {
        left: 225px;
    }
      
    div.list-container:nth-of-type(5) {
        left: 200px;
    }
}