.tutorial-heading {
    display: flex;
    flex-direction: column;
}

.tutorial-heading h2 {
    margin-bottom: 10px;
}

.skip-button {
   font-family: "Kalam";
   font-size: 18px;
   letter-spacing: 1px;
   text-transform: lowercase;
   width: max-content;
   color: rgba(var(--accent1-txt), 0.5);
   background: none;
   padding: 0;
   transition: letter-spacing 0.6s;
   cursor: pointer;
}

.skip-button:hover {
    letter-spacing: 2px;
}

.checkmark-button,
.tutorial-button {
    background-color: hsl(var(--accent1-lt), 90%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 18px;
    transition: background-color 0.2s;
    cursor: pointer;
}

.checkmark-button:hover,
.tutorial-button:hover,
.checkmark-button.ready {
    background-color: rgb(var(--accent1-txt));
}

.checkmark-button svg {
    width: 40px;
}

#drawer .checkmark-button {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
}

#drawer .checkmark-button::after {
    content: "Next Feature";
    position: absolute;
    top: 0px;
    left: 155%;
    width: max-content;

    font-family: var(--robo);
    letter-spacing: 5px;
    text-transform: uppercase;
    color: rgb(var(--accent1-txt));

    transition: left 0.4s, letter-spacing 0.8s;
}

#drawer .checkmark-button:hover::after {
    letter-spacing: 1px;
    left: -210%;
}

#drawer ol {
    padding-left: 20px;
}

#drawer ol li {
    font-family: var(--robo);
    text-transform: uppercase;
    letter-spacing: 1px;
}

.opened-right .blur > *:not(.highlight, .highlight + .creator) {
    animation: none!important;
    filter: blur(4px);
    /* transition: filter 0.2s; */
}
  

.crossed {
    text-decoration: line-through;
}

.intro-drawer {
    padding: 10rem 3rem;
}