.tutorial-heading {
    display: flex;
    flex-direction: column;
}

.tutorial-heading h2 {
    margin-bottom: 10px;
}

.skip-button {
   font-family: "Kalam";
   font-size: 18px;
   letter-spacing: 1px;
   text-transform: lowercase;
   width: max-content;
   color: rgba(var(--accent1-txt), 0.5);
   background: none;
   padding: 0;
   transition: letter-spacing 0.6s;
   cursor: pointer;
}

.skip-button:hover {
    letter-spacing: 2px;
}

.checkmark-button,
.tutorial-button {
    background-color: hsl(var(--accent1-lt), 90%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 18px;
    transition: background-color 0.2s;
    cursor: pointer;
}

.checkmark-button:hover,
.tutorial-button:hover {
    background-color: rgb(var(--accent1-txt));
}

.checkmark-button svg {
    width: 40px;
}

#drawer .checkmark-button {
    position: absolute;
    top: 5rem;
    left: -4rem;

    background: linear-gradient(45deg, rgb(var(--accent1-txt)) 50%, hsl(var(--accent1-lt), 90%) 50%);
    background-size: 300%;
    background-position: right bottom;
    box-shadow: 0px 0px 10px 10px hsla(var(--accent1-lt), 25%, 0.05);

    z-index: 10;
}

#drawer .navigation {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    width: 100%;

    justify-content: space-between;
    z-index: 10;
}

#drawer .navigation button:first-child {
    position: relative;
    left: -2rem;
    box-shadow: 0px 0px 10px 10px hsla(var(--accent1-lt), 25%, 0.05);
}

// #drawer .checkmark-button::after {
//     content: "Next Feature";
//     position: absolute;
//     top: 0px;
//     left: 300%;
//     width: max-content;

//     font-family: var(--robo);
//     letter-spacing: 5px;
//     text-transform: uppercase;
//     color: rgb(var(--accent1-txt));

//     transition: left 0.4s, letter-spacing 0.8s;
// }

// #drawer .checkmark-button:hover::after {
//     letter-spacing: 1px;
//     left: -210%;
// }

#drawer ol {
    padding-left: 20px;
}

#drawer ol li {
    font-family: var(--robo);
    text-transform: uppercase;
    letter-spacing: 1px;
}

.opened-right > * {
    filter: blur(0px);
    transition: filter 0.4s;
}

.opened-right .blur > *:not(.highlight, .highlight + .creator) {
    animation: tut-blur 4s forwards;
}

.opened-right .todolists-container.blur > *:not(.highlight, .highlight + .creator) {
    animation: tut-blurlists 4s forwards;
}

.opened-right .reverse-blur > *:not(.highlight, .highlight + .creator) {
    animation: tut-unblur 0.6s forwards;
}

.opened-right .todolists-container.reverse-blur > *:not(.highlight, .highlight + .creator) {
    animation: tut-unblurlists 0.6s forwards;
}

@keyframes fade {
    from {
      opacity: 0;  
    } to {
      opacity: 1;
    }
}

@keyframes scale {
    0% {
        transform: scale(100%);

    } 50% {
        transform: scale(125%);

    } 100% {
        transform: scale(100%);
    }
}

@keyframes celebrate {
    0% {
        background-position: right bottom;
    } 100% {
        background-position: left bottom;
    }
}

.checkmark-button.ready {
    animation: celebrate 3s forwards;
}

.checkmark-button svg stop:last-child{
    transition: stop-color 0.4s;
}

.list-drawer .checkmark-button.ready svg stop:last-child {
    stop-color: hsl(var(--accent3));
}

.bookmark-drawer .checkmark-button.ready svg stop:last-child {
    stop-color: hsl(var(--accent2));
}

.sticky-drawer .checkmark-button.ready svg stop:last-child {
    stop-color: (var(--secondary-txt));
}

.opened-right .search-container .hotspot {
    transform: scale(100%);
    animation: scale 2s;
    transition: transform 0.4s;
}

.opened-right .search-container .hotspot:hover {
    transform: scale(125%);
}

.crossed {
    text-decoration: line-through;
}

.intro-drawer {
    padding: 10rem 3rem;
}

.vocab {
    position: relative;
    font-size: 1em;
    color: hsl(var(--accent2-lt), 90%)!important;
    text-decoration-line: underline;
    text-decoration-style: wavy;
    cursor: help;
}

.vocab::after {
    content: attr(data-after);
    position: absolute;
    font-size: 14px;
    line-height: 16px;
    padding: 8px;
    border-radius: 10px;
    background-color: hsl(var(--accent2-lt), 80%);
    box-shadow: 0px 0px 10px 10px hsla(var(--accent1-lt), 10%, 5%);
    color: hsl(var(--accent2-lt), 25%);
    width: 10vw;
    left: -100%;
    top: -350%;
    opacity: 0;
    transition: top 0.2s, opacity 0.2s;
}

.vocab::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    display: block;
    border-radius: 20px 0 10px 0;
    background-color: hsl(var(--accent2-lt), 80%);
    left: 25%;
    top: -20px;
    transform: rotate(45deg);
    z-index: 2;
    opacity: 0;
    transition: top 0.2s, opacity 0.2s;
}

.vocab:hover::after {
    opacity: 1;
    top: -400%;
}

.vocab:hover::before {
    opacity: 1;
    top: -22px;
}