:root {
  --base-bg: #F5F1E1;
  --base-container: #FFF8E5;
  --base-txt: #1E1A35;
  --secondary-txt: #867D64;
  --secondary-txt-lt: #CDC7AF;
  --subtle-border: rgba(205, 199, 175, 0.15);
  --shadow: rgba(225, 217, 184, 0.2);

  /* --accent1: 141, 108, 210;
  --accent2: 108, 210, 161;
  --accent3: 250, 63, 97; */

  --accent1: 259, 53%, 62%;
  --accent2: 151, 53%, 62%;
  --accent3: 349, 95%, 61%;

  /* --accent1: "";
  --accent2: "";
  --accent3: ""; */

  --accent1-lt: 259, 53%;
  --accent2-lt: 151, 53%;
  --accent3-lt: 349, 95%;

  --jakarta: "Plus Jakarta", "Roboto", "sans-serif";
  --robo: "Roboto Slab", serif;
  --overpass: "Overpass", "Work Sans", sans-serif;
  --pioggia: "Pioggia", "Vidaloka", "DM Serif Display", "Libre Baskerville", serif;

}

/**********************/
/** FONT ASSIGNMENTS **/
/**********************/
@font-face {
  font-family: "Kalam";
  src: url("/fonts/Kalam/Kalam-Regular.ttf");
}
@font-face {
  font-family: "Plus Jakarta";
  src: url("/fonts/Plus_Jakarta_Sans/PlusJakartaSans-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Plus Jakarta";
  src: url("/fonts/Plus_Jakarta_Sans/PlusJakartaSans-Italic-VariableFont_wght.ttf");
  font-style: italic;
}

@font-face {
  font-family: "Roboto Slab";
  src: url("/fonts/RobotoSlab/RobotoSlab-Light.ttf");
  font-weight: 200;
}

@font-face {
  font-family: "Roboto Slab";
  src: url("/fonts/RobotoSlab/RobotoSlab-Regular.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Roboto Slab";
  src: url("/fonts/RobotoSlab/RobotoSlab-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Overpass";
  src: url("/fonts/Overpass/OVERPASS-REGULAR.TTF");
  font-weight: 400;
}

@font-face {
  font-family: "Overpass";
  src: url("/fonts/Overpass/OVERPASS-LIGHT.TTF");
  font-weight: 200;
}

@font-face {
  font-family: "Overpass";
  src: url("/fonts/Overpass/OVERPASS-EXTRALIGHT.TTF");
  font-weight: 100;
}

@font-face {
  font-family: "Overpass";
  src: url("/fonts/Overpass/OVERPASS-SEMIBOLD.TTF");
  font-weight: 500;
}

@font-face {
  font-family: "Overpass";
  src: url("/fonts/Overpass/OVERPASS-EXTRABOLD.TTF");
  font-weight: 600;
}

@keyframes opendrawer {
  from {
    right: -100vw;
    width: 0%;
  } to {
    right: 0;
    width: 25vw;
  }
}

@keyframes closedrawer {
  from {
    right: 0;
    width: 25vw;
  } to {
    right: -100vw;
    width: 0%;
  }
}


/********************/
/** GENERAL STYLES **/
/********************/
html {
  scroll-behavior: smooth;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--overpass);
}

#dresser {
  position: relative;
  overflow: hidden;
  margin: 0px;
  display: flex;
  flex-wrap: wrap;
}

* {
  box-sizing: border-box;
}

h1, h1 span,
h2, h2 span {
  font-family: var(--jakarta);
  font-size: 26px;
  font-weight: 700;
  text-transform: lowercase;
  color: var(--base-txt);
}

h3, h4, h5, h6 {
  font-family: var(--overpass);
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  margin: 4px 0;
  text-transform: uppercase;
}

p, span {
  font-family: var(--overpass);
  font-size: 12px;
  line-height: 20px;
  color: var(--base-txt);
}

ul {
  margin: 0;
  padding-left: 30px;
}

li {
  margin: 10px 0;
}

ul, li, td {
  font-family: var(--overpass);
  font-size: 13px;
  line-height: 18px;
}

label {
  font-size: 13px;
}

input, textarea {
  font-size: 14px;
}

#drawer + #main-container {
  width: 75vw;
}

#main-container {
  background-color: var(--base-bg);
  border-radius: 30px;
  max-height: 100vh;
  width: 100%;

  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scrollbar-width: none;
  border: solid 12px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#main-wrapper {
  width: auto;
  position: relative;
  z-index: 1;
  overflow: hidden!important;
  transition: filter 0.6s;
  /* min-height: 100vh; */
}

#drawer {
  width: 25vw;
  padding: 3rem 1rem 3rem 3rem;
  margin: 2rem 0;
  animation: opendrawer 1s;
}

#drawer h2,
#drawer label,
#drawer span, 
#drawer p {
  color: #FFF;
}

.theme-drawer .row {
  position: relative;
}

.theme-drawer .w-color-colorful:not(.w-color-colorful .w-color-colorful) {
  top: 0;
  left: 175px;
  z-index: 2;
}

::-webkit-scrollbar {
  display: none;
  visibility: hidden;
}

section {
  margin: 4rem 8%;
}

article {
  background-color: var(--base-container);
  border-radius: 20px;
  padding: 20px;
  border: solid 2.55px;
}

.accent1-txt    { color: hsl(var(--accent1))!important; }
.accent2-txt { color: hsl(var(--accent2))!important; }
.accent3-txt   { color: hsl(var(--accent3))!important; }

.accent1-hover:hover    { color: hsl(var(--accent1))!important; }
.accent2-hover:hover { color: hsl(var(--accent2))!important; }
.accent3-hover:hover   { color: hsl(var(--accent3))!important; }

.accent1-bg    { background-color: hsl(var(--accent1))!important; }
.accent2-bg { background-color: hsl(var(--accent2))!important; }
.accent3-bg   { background-color: hsl(var(--accent3))!important; }
.alert-bg { background-color: var(--secondary-txt)!important; }
.confirm-bg { background-color: var(--secondary-txt-lt)!important; }

.accent1a-bg    { background-color: hsla(var(--accent1), 0.15)!important; }
.accent2a-bg { background-color: hsla(var(--accent2), 0.15)!important; }
.accent3a-bg   { background-color: hsla(var(--accent3), 0.15)!important; }

.accent1-bg-hover:hover    { background-color: hsl(var(--accent1))!important; }
.accent2-bg-hover:hover { background-color: hsl(var(--accent2))!important; }
.accent3-bg-hover:hover   { background-color: hsl(var(--accent3))!important; }

.accent1-bg-before::before    { background-color: hsl(var(--accent1))!important; }
.accent2-bg-before::before { background-color: hsl(var(--accent2))!important; }
.accent3-bg-before::before   { background-color: hsl(var(--accent3))!important; }
.alert-bg-before::before { background-color: var(--secondary-txt)!important; }
.confirm-bg-before::before { background-color: var(--secondary-txt-lt)!important; }

.accent1-bg-after::after    { background-color: hsl(var(--accent1))!important; }
.accent2-bg-after::after { background-color: hsl(var(--accent2))!important; }
.accent3-bg-after::after   { background-color: hsl(var(--accent3))!important; }

.accent1-bg,
.accent2-bg,
.accent3-bg {
  transition: background-color 0.6s;
}

.accent1-fill-hover path,
.accent2-fill-hover path,
.accent3-fill-hover path {
  transition: fill 0.2s;
}

.accent1-border    { border-color: hsl(var(--accent1))!important; }
.accent2-border { border-color: hsl(var(--accent2))!important; }
.accent3-border   { border-color: hsl(var(--accent3))!important; }
.accent1-border-hover:hover    { border-color: hsl(var(--accent1))!important; }
.accent2-border-hover:hover { border-color: hsl(var(--accent2))!important; }
.accent3-border-hover:hover   { border-color: hsl(var(--accent3))!important; }

.accent1-fill path    { fill: hsl(var(--accent1))!important; }
.accent2-fill path { fill: hsl(var(--accent2))!important; }
.accent3-fill path   { fill: hsl(var(--accent3))!important; }

.accent1-fill rect    { fill: hsl(var(--accent1))!important; }
.accent2-fill rect { fill: hsl(var(--accent2))!important; }
.accent3-fill rect   { fill: hsl(var(--accent3))!important; }

.accent1-fill-hover:hover path    { fill: hsl(var(--accent1))!important; }
.accent2-fill-hover:hover path { fill: hsl(var(--accent2))!important; }
.accent3-fill-hover:hover path   { fill: hsl(var(--accent3))!important; }

.accent1-border-dance::before { background: linear-gradient(90deg, hsl(var(--accent1)) 50%, transparent 50%), linear-gradient(90deg, hsl(var(--accent1)) 50%, transparent 50%), linear-gradient(0deg, hsl(var(--accent1)) 50%, transparent 50%), linear-gradient(0deg, hsl(var(--accent1)) 50%, transparent 50%); }
.accent2-border-dance::before { background: linear-gradient(90deg, hsl(var(--accent2)) 50%, transparent 50%), linear-gradient(90deg, hsl(var(--accent2)) 50%, transparent 50%), linear-gradient(0deg, hsl(var(--accent2)) 50%, transparent 50%), linear-gradient(0deg, hsl(var(--accent2)) 50%, transparent 50%); }
.accent3-border-dance::before { background: linear-gradient(90deg, hsl(var(--accent3)) 50%, transparent 50%), linear-gradient(90deg, hsl(var(--accent3)) 50%, transparent 50%), linear-gradient(0deg, hsl(var(--accent3)) 50%, transparent 50%), linear-gradient(0deg, hsl(var(--accent3)) 50%, transparent 50%); }

.accent1-border,
.accent2-border,
.accent3-border{
  transition: border-color 0.6s;
}

.italic {
  font-style: italic;
}

.subheading {
  font-family: var(--robo);
  text-transform: uppercase;
}

.card-anchor {
  text-decoration: none;
}

.arrow-button {
  width: max-content;
}

.list-reset {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.fullwidth {
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.col {
  display: flex;
  flex-direction: column;
}

/* This means it'll be a column on mobile, row on desktop */
.col-row {
  display: flex;
  flex-direction: column;
}

.half {
  width: 50%;
}

.clearfix {
  clear: both;
}

.desktop-hide,
.show {
  display: block;
}

@media only screen and (max-width: 1080px) {
  .mobile-hide,
  .mobile-hide-flex,
  .hide {
    display: none!important;
  }

  .feature-group {
    width: 100%!important;
    flex-direction: row-reverse;
  }

  #main-wrapper {
    justify-content: flex-start!important;
  }

}

@media only screen and (max-width: 1280px) {

  footer ul li {
    font-size: 16px!important;
  }
}

@media only screen and (max-width: 800px) {

  footer .readme {
    width: 100%!important;
  }

  footer .guide details,
  footer .guide summary {
    max-width: 100%!important;
  }

  footer .guide li {
    width: 100%;
  }

}

.hide {
  display: none!important;
}

/**********************/
/** DESKTOP SPECIFIC **/
/**********************/
@media only screen and (min-width: 600px) {
  #main-container {
    border-radius: 90px;
    border: solid 20px;
  }

  h2, h2 span {
    font-size: 28px;
    line-height: 32px;
  }

  section {
    margin: 12%;
  }

  h3, h4, h5, h6 {
    font-size: 16px;
    line-height: 22px;
  }

  .drawer-heading h3 {
    font-size: 18px;
  }

  p, span {
    font-size: 1em;
    line-height: 26px;
  }
  
  ul, li, td {
    font-size: 1em;
    line-height: 24px;
  }
  
  label {
    font-size: 1em;
  }
  
  input, textarea {
    font-size: 1em;
  }

}

@media only screen and (min-width: 800px) {
  /* This means it'll be a column on mobile, row on desktop */
  .col-row {
    flex-direction: row;
  }
}


@media only screen and (min-width: 1080px) {

  #main-container {
    background-color: var(--base-bg)!important;
  }

  section {
    margin: 8rem 12rem;
    width: auto;
    min-width: 100%;
  }

  h3, h4, h5, h6 {
    font-size: 18px;
    line-height: 24px;
  }

  .drawer-heading h3 {
    font-size: 20px;
  }

  p {
    font-size: 1.2em;
    line-height: 30px;
  }

  span {
    font-size: 1.1em;
  }

  .drawer-content p {
    font-size: 1em;
    line-height: 24px;
  }

  .date-list li {
    font-size: 18px;
    line-height: 24px;
  }
  
  input, textarea {
    font-size: 1.1em;
  }

  .desktop-hide {
    display: none!important;
  }

  .mobile-hide {
    display: block!important;
  }

  .mobile-hide-flex {
    display: flex;
  }

  .hide {
    display: none!important;
  }

}

@media only screen and (min-width: 1280px) {

  ul, li, td {
    font-size: 16px;
    line-height: 22px;
  }

} 

@media only screen and (min-width: 1500px) {
  section {
    margin: 16rem;
  }
}

@media only screen and (width > 1920px) {
  section {
    margin: 5vw 25vw 5vw 25vw;
  }

}

input[type="text"],
textarea {
  background-color: var(--base-container);
  box-shadow: 0px 0px 4px #ECE4C7;
  border-radius: 12px 12px 12px 12px;
  border: none;
  
  font-family: var(--overpass);
  padding: 10px;
  line-height: 30px;
  /* margin: 10px 40px 0 0; */
}

.google-container input[type="text"] {
  border-radius: 12px 12px 0px 0px;
  border: none;
  border-bottom: solid 2.55px hsl(var(--accent1));
}

input[type="text"]:focus-visible,
textarea:focus-visible {
  outline-color: hsl(var(--accent1)); 
  -moz-outline-color: hsl(var(--accent1)); 
}

label {
  font-family: var(--robo);
  text-transform: uppercase;
}

/* * * * * * * * * * * * * * * * * * * * * * */
/* BROWSER HOME STYLES */
#main-container {
  height: 98vh;
  /* margin-bottom: 20px; */
  overflow-y: hidden;

}

#main-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 50px;
}

footer {
  width: 100%;
  color: var(--base-container);
  font-family: var(--overpass);
  font-size: 13px;
  letter-spacing: 0.5px;
  padding: 0 1rem;
  margin-top: -24px;
}

footer .row {
  position: relative;
  align-items: flex-start;
  justify-content: space-between;
  text-align: left;
  padding: 2px 0;
}

footer .cache-button {
  background: none;
  border: none;
  margin-top: -5px;
}

footer .cache-button,
footer .kofi-button {
  position: relative;
  cursor: pointer;
  z-index: 1;
}

footer .cache-button path,
footer .kofi-button path {
  fill: hsl(var(--accent1-lt), 75%);
  transition: fill 0.2s;
}

footer .cache-button:hover path,
footer .kofi-button:hover path {
  fill: #FFF;
}


footer .cache-button:hover::before,
footer .cache-button:hover::after,
footer .kofi-button:hover::before,
footer .kofi-button:hover::after {
  opacity: 1;
}

footer .kofi-button:hover::before,
footer .cache-button:hover::after {
  top: -10px;
}

footer .kofi-button::before,
footer .cache-button::after {
  position: absolute;
  opacity: 0;
  color: var(--base-txt);
  font-family: var(--overpass);
  font-size: 12px;
  padding: 10px;
  text-transform: uppercase;
  text-align: left;
  border-radius: 12px;
  transition: opacity 0.2s, top 0.2s;
}

footer .kofi-button::after,
footer .cache-button::before {
  content: "";
  opacity: 0;
  width: 24px;
  height: 24px;
  display: block;
  position: absolute;
  border-radius: 8px;
  transform: rotate(45deg);
  z-index: -1;
  transition: opacity 0.2s;
}

footer .kofi-button::before {
  content: "Want to donate? Get me some kofi!";
  background-color: hsl(var(--accent2-lt), 75%);
  width: 200px;
  top: -20px;
  right: 45px;
}

footer .kofi-button::after {
  background-color: hsl(var(--accent2-lt), 75%);
  right: 38px;
  top: 0;
}

footer .cache-button::after {
  content: "Be careful when you clear your cache! You could delete all your storage off this site.";
  background-color: hsl(var(--accent3-lt), 75%);
  width: 300px;
  top: -20px;
  left: 50px;
}

footer .cache-button::before {
  background-color: hsl(var(--accent3-lt), 75%);
  left: 42px;
}

.guide {
  padding: 0;
}

.guide li {
  /* position: relative; */
  display: flex;
  align-items: center;
  width: max-content;
  border-bottom: solid 2px rgba(255, 255, 255, 0.2);
  padding-bottom: 6px;
}

.guide li:last-child {
  border: none;
}

.guide details,
.guide summary {
  max-width: 400px;
  line-height: 24px;
}

footer .guide p {
  font-size: 16px!important;
  margin-top: 10px;
}

.guide li button {
  /* position: absolute; */
  width: max-content;
  right: 0;
  top: 0;
  background-color: var(--base-container);
  border-radius: 4px;
  border: none;
  font-family: var(--robo);
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 2px 6px;
  margin-left: 10px;
  opacity: 0.3;
  cursor: pointer;
  transition: opacity 0.4s;
}

.guide li button:hover {
  opacity: 0.6;
}

.uppercase {
  text-transform: uppercase;
  letter-spacing: 1px;
}

footer h4 {
  font-family: 'Plus Jakarta';
  font-weight: 800;
  font-size: 2.5em;
  letter-spacing: 2px;
  margin-top: 50px
}

footer p {
  display: flex;
  align-items: center;
  color: var(--base-container);
  line-height: 20px;
}

footer p.uppercase {
  line-height: 16px;
}

footer a {
  color: var(--base-container);
  margin-left: 5px;
}

footer ul {
  padding-left: 20px;
}

footer ul li {
  /* list-style-type: none; */
  line-height: 18px;
  cursor: pointer;
  width: max-content;
}

footer .readme {
  width: 50vw;
  padding: 0 4rem;
}

footer .readme p, 
footer .readme h4 {
  font-size: 1.4em;
  line-height: 24px;
}


.grid-row {
  display: grid;
  grid-template-columns: 4fr 2fr 1fr;
}

.checkbox, 
.radio {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 3px;
  border-radius: 8px;
  cursor: pointer;
}

input[type="checkbox"],
input[type="radio"]  {
  display: none;
}

.radio {
  border: solid 2.55px var(--base-container);
  margin: 5px;
  transition: background-color 0.2s;
}

.radio span {
  width: 8px;
  height: 8px;
  border-radius: 3px;
  /* transition: background-color 0.2s; */
}

.radio:hover span {
  background-color: var(--base-container);
}

/* .radio.accent1:hover { background-color: rgba(var(--accent1), 0.5); }
.radio.accent2:hover { background-color: rgba(var(--accent2), 0.5); }
.radio.accent3:hover { background-color: rgba(var(--accent3), 0.5); } */

input[type="radio"]:checked + .radio span {
  background-color: var(--base-container);
}

button {
  border: none;
}

.feature-group {
  width: max-content;
}

.edit-button,
.remove-button,
.color-button,
.list-button, 
.note-button, 
.polaroid-button {
  cursor: pointer;
  border-radius: 10px;
  padding: 6px;

  display: flex;
  justify-content: center;
  align-items: center;

}

.edit-button svg {
  transform: rotate(0deg);
  transition: transform 0.6s;
}

.edit-button:hover svg {
  transform: rotate(360deg);
}

.edit-button path, 
.remove-button path,
.color-button path,
.list-button path, 
.note-button path, 
.polaroid-button path {
  fill: var(--base-container);
}

@keyframes close-trash {
  0% {
    transform: translateY(0px);

  } 25% {
    transform: translateY(-1px);

  } 75% {
    transform: translateY(4px);

  } 100% {
    transform: translateY(0px);  
  }
}

@keyframes turn-palette {
  0% {
    transform: rotate(0deg);

  } 25% {
    transform: rotate(60deg);

  } 75% {
    transform: rotate(-60deg);

  } 100% {
    transform: rotate(0deg);

  }
}

.trash-animation path:last-of-type {
  animation: close-trash 0.8s infinite;
}

.remove-button:hover path:last-of-type {
  animation: close-trash 0.4s;
}

.color-button:hover svg {
  animation: turn-palette 0.6s;
}

@keyframes highlight-shadow {
  0% {
    box-shadow: 0px 0px 20px 2px rgb(255, 255, 255, 0);
    /* background: rgb(255, 255, 255, 0); */
  } 5% {
    box-shadow: 0px 0px 30px 2px rgba(138, 133, 109, 0.8);
    /* background: rgba(225, 217, 184, 0.5); */
  } 100% {
    box-shadow: 0px 0px 20px 2px rgb(255, 255, 255, 0);
    /* background: rgb(255, 255, 255, 0); */
  }
}

@keyframes highlight-bg {
  0% {
    background-color: rgba(255, 255, 255, 0);
  } 5% {
    background-color: rgba(138, 133, 109, 0.3);
  } 100% {
    background-color: rgba(255, 255, 255, 0);
  }
}

@keyframes blur-bg {
  from {
    filter: blur(8px);
  } to {
    filter: blur(0px);
  }
}

.blur > *:not(.highlight, .highlight + .creator) {
  animation: blur-bg 4s;
  /* filter: blur(4px); */
  /* transition: filter 0.2s; */
}


.highlight {
  animation: highlight-shadow 3s;
}

.more-options-container.highlight {
  background: linear-gradient(180deg, hsl(var(--accent1)) 50%, hsl(var(--accent1-lt), 55%) 100%);
}

.sticky-date.highlight,
.se-icon.highlight,
.bookmarks-container .create-button.highlight {
  animation: highlight-shadow 3s, highlight-bg 3s;
}