:root {
  --base-bg: #F5F1E1;
  --base-container: #FFF8E5;
  --base-txt: #1E1A35;
  --secondary-txt: #867D64;
  --secondary-txt-lt: #CDC7AF;
  --shadow: rgba(225, 217, 184, 0.2);

  --accent1: rgb(141, 108, 210);
  --accent2: rgb(108, 210, 161);
  --accent3: rgb(250, 63, 97);

  --jakarta: "Plus Jakarta", "Roboto", "sans-serif";
  --robo: "Roboto Slab", serif;
  --overpass: "Overpass", "Work Sans", sans-serif;
  --pioggia: "Pioggia", "Vidaloka", "DM Serif Display", "Libre Baskerville", serif;

}

/**********************/
/** FONT ASSIGNMENTS **/
/**********************/
@font-face {
  font-family: "Kalam";
  src: url("/fonts/Kalam/Kalam-Regular.ttf");
}
@font-face {
  font-family: "Plus Jakarta";
  src: url("/fonts/Plus_Jakarta_Sans/PlusJakartaSans-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Plus Jakarta";
  src: url("/fonts/Plus_Jakarta_Sans/PlusJakartaSans-Italic-VariableFont_wght.ttf");
  font-style: italic;
}

@font-face {
  font-family: "Roboto Slab";
  src: url("/fonts/RobotoSlab/RobotoSlab-Light.ttf");
  font-weight: 200;
}

@font-face {
  font-family: "Roboto Slab";
  src: url("/fonts/RobotoSlab/RobotoSlab-Regular.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Roboto Slab";
  src: url("/fonts/RobotoSlab/RobotoSlab-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Overpass";
  src: url("/fonts/Overpass/OVERPASS-REGULAR.TTF");
  font-weight: 400;
}

@font-face {
  font-family: "Overpass";
  src: url("/fonts/Overpass/OVERPASS-LIGHT.TTF");
  font-weight: 200;
}

@font-face {
  font-family: "Overpass";
  src: url("/fonts/Overpass/OVERPASS-EXTRALIGHT.TTF");
  font-weight: 100;
}

@font-face {
  font-family: "Overpass";
  src: url("/fonts/Overpass/OVERPASS-SEMIBOLD.TTF");
  font-weight: 500;
}

@font-face {
  font-family: "Overpass";
  src: url("/fonts/Overpass/OVERPASS-EXTRABOLD.TTF");
  font-weight: 600;
}

/********************/
/** GENERAL STYLES **/
/********************/
html {
  scroll-behavior: smooth;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--overpass);
}

#dresser {
  position: relative;
  overflow: hidden;
  margin: 0px;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

* {
  box-sizing: border-box;
}

h1, h1 span,
h2, h2 span {
  font-family: var(--jakarta);
  font-size: 26px;
  font-weight: 700;
  text-transform: lowercase;
  color: var(--base-txt);
}

h3, h4, h5, h6 {
  font-family: var(--overpass);
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  margin: 4px 0;
  text-transform: uppercase;
}

p, span {
  font-family: var(--overpass);
  font-size: 12px;
  line-height: 20px;
  color: var(--base-txt);
}

ul {
  margin: 0;
  padding-left: 30px;
}

li {
  margin: 10px 0;
}

ul, li, td {
  font-family: var(--overpass);
  font-size: 13px;
  line-height: 18px;
}

label {
  font-size: 13px;
}

input, textarea {
  font-size: 14px;
}

#main-container {
  background-color: var(--base-bg);
  border-radius: 30px;
  max-height: 100vh;
  width: 100%;

  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scrollbar-width: none;
  border: solid 12px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow-x: hidden;
}

#main-wrapper {
  width: auto;
  position: relative;
  z-index: 1;
  overflow: hidden!important;
  /* filter: blur(0px); */
  transition: filter 0.6s;
  /* min-height: 100vh; */

}

::-webkit-scrollbar {
  display: none;
  visibility: hidden;
}

section {
  margin: 4rem 8%;
}

article {
  background-color: var(--base-container);
  border-radius: 20px;
  padding: 20px;
  border: solid 2.55px;
}

.accent1-txt    { color: var(--accent1)!important; }
.accent2-txt { color: var(--accent2)!important; }
.accent3-txt   { color: var(--accent3)!important; }

.accent1-hover:hover    { color: var(--accent1)!important; }
.accent2-hover:hover { color: var(--accent2)!important; }
.accent3-hover:hover   { color: var(--accent3)!important; }

.accent1-bg    { background-color: var(--accent1)!important; }
.accent2-bg { background-color: var(--accent2)!important; }
.accent3-bg   { background-color: var(--accent3)!important; }

.accent1-bg-hover:hover    { background-color: var(--accent1)!important; }
.accent2-bg-hover:hover { background-color: var(--accent2)!important; }
.accent3-bg-hover:hover   { background-color: var(--accent3)!important; }

.accent1-bg-after::after    { background-color: var(--accent1)!important; }
.accent2-bg-after::after { background-color: var(--accent2)!important; }
.accent3-bg-after::after   { background-color: var(--accent3)!important; }

.accent1-bg,
.accent2-bg,
.accent3-bg {
  transition: background-color 0.6s;
}

.accent1-fill-hover path,
.accent2-fill-hover path,
.accent3-fill-hover path {
  transition: fill 0.2s;
}

.accent1-border    { border-color: var(--accent1)!important; }
.accent2-border { border-color: var(--accent2)!important; }
.accent3-border   { border-color: var(--accent3)!important; }

.accent1-fill path    { fill: var(--accent1)!important; }
.accent2-fill path { fill: var(--accent2)!important; }
.accent3-fill path   { fill: var(--accent3)!important; }

.accent1-fill rect    { fill: var(--accent1)!important; }
.accent2-fill rect { fill: var(--accent2)!important; }
.accent3-fill rect   { fill: var(--accent3)!important; }

.accent1-fill-hover:hover path    { fill: var(--accent1)!important; }
.accent2-fill-hover:hover path { fill: var(--accent2)!important; }
.accent3-fill-hover:hover path   { fill: var(--accent3)!important; }

.accent1-border,
.accent2-border,
.accent3-border{
  transition: border-color 0.6s;
}

.italic {
  font-style: italic;
}

.subheading {
  font-family: var(--robo);
  text-transform: uppercase;
}

.card-anchor {
  text-decoration: none;
}

.arrow-button {
  width: max-content;
}

.list-reset {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.fullwidth {
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

/* This means it'll be a column on mobile, row on desktop */
.col-row {
  display: flex;
  flex-direction: column;
}

.half {
  width: 50%;
}

.clearfix {
  clear: both;
}

.desktop-hide,
.show {
  display: block;
}

@media only screen and (max-width: 1080px) {
  .mobile-hide,
  .mobile-hide-flex,
  .hide {
    display: none!important;
  }
}

.hide {
  display: none!important;
}

/**********************/
/** DESKTOP SPECIFIC **/
/**********************/
@media only screen and (min-width: 600px) {
  #main-container {
    border-radius: 90px;
    border: solid 20px;
  }

  h2, h2 span {
    font-size: 28px;
    line-height: 32px;
  }

  section {
    margin: 12%;
  }

  h3, h4, h5, h6 {
    font-size: 16px;
    line-height: 22px;
  }

  .drawer-heading h3 {
    font-size: 18px;
  }

  p, span {
    font-size: 1em;
    line-height: 26px;
  }
  
  ul, li, td {
    font-size: 1em;
    line-height: 24px;
  }
  
  label {
    font-size: 1em;
  }
  
  input, textarea {
    font-size: 1em;
  }

}

@media only screen and (min-width: 800px) {
  /* This means it'll be a column on mobile, row on desktop */
  .col-row {
    flex-direction: row;
  }
}


@media only screen and (min-width: 1080px) {

  #main-container {
    background-color: var(--base-bg)!important;
  }

  section {
    margin: 8rem 12rem;
    width: auto;
    min-width: 100%;
  }

  h3, h4, h5, h6 {
    font-size: 18px;
    line-height: 24px;
  }

  .drawer-heading h3 {
    font-size: 20px;
  }

  p {
    font-size: 1.2em;
    line-height: 30px;
  }

  span {
    font-size: 1.1em;
  }

  .drawer-content p {
    font-size: 1em;
    line-height: 24px;
  }

  .date-list li {
    font-size: 18px;
    line-height: 24px;
  }
  
  input, textarea {
    font-size: 1.1em;
  }

  .desktop-hide {
    display: none!important;
  }

  .mobile-hide {
    display: block!important;
  }

  .mobile-hide-flex {
    display: flex;
  }

  .hide {
    display: none!important;
  }

}

@media only screen and (min-width: 1280px) {

  ul, li, td {
    font-size: 16px;
    line-height: 22px;
  }

} 

@media only screen and (min-width: 1500px) {
  section {
    margin: 16rem;
  }
}

@media only screen and (width > 1920px) {
  section {
    margin: 5vw 25vw 5vw 25vw;
  }

}

input[type="text"],
textarea {
  background-color: var(--base-container);
  box-shadow: 0px 0px 4px #ECE4C7;
  border-radius: 12px 12px 12px 12px;
  border: none;
  
  font-family: var(--overpass);
  padding: 10px;
  line-height: 30px;
  /* margin: 10px 40px 0 0; */
}

.google-container input[type="text"] {
  border-radius: 12px 12px 0px 0px;
  border: none;
  border-bottom: solid 2.55px var(--accent1);
}

input[type="text"]:focus-visible,
textarea:focus-visible {
  outline-color: var(--accent1); 
  -moz-outline-color: var(--accent1); 
}

label {
  font-family: var(--robo);
  text-transform: uppercase;
  margin-bottom: 10px;
}

/* * * * * * * * * * * * * * * * * * * * * * */
/* BROWSER HOME STYLES */
#main-container {
  height: 100vh;
}

#main-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.grid-row {
  display: grid;
  grid-template-columns: 2fr 4fr 1fr;
}

/* SEARCH QUERY */
.google-container {
  margin: 50px;
}

.search-query {
  font-family: 'Plus Jakarta';
  font-size: 2.4em;
  font-weight: 700;
  line-height: 1.2em;
  text-align: right;
}

.inputGroup {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

input[type="text"] {
  width: 100%;
  padding: 10px 50px;
}

.inputGroup::before {
  content: url("https://upload.wikimedia.org/wikipedia/commons/c/c1/Google_%22G%22_logo.svg");
  position: absolute;
  width: 30px;
  height: 30px;
  margin: 10px;
}

.inputGroup a {
  cursor: pointer;
  position: absolute;
  right: 0;
  margin: 10px;
}

/* POLAROIDS */
.polaroid-container {
  background-color: #FFF8E5;
  padding: 20px 20px 48px 20px;
  margin: 50px;
  border-radius: 36px;
  position: relative;
  width: max-content;
  transform: rotate(-4deg);
  box-shadow: 0px 0px 22px 2px rgba(225, 217, 184, 0.20);

}

.polaroid-container::before {
  content: "Do it for him";
  position: absolute;
  font-family: 'Kalam', cursive;
  font-size: 1.5em;
  text-transform: lowercase;
  top: -60px;
  padding: 20px 5px;
}

.polaroid-container::after {
  content: "";
  position: absolute;
  background-image: url(https://cdn.pixabay.com/photo/2013/07/12/12/46/drawing-pin-146214_1280.png);
  background-size: 60px;
  background-repeat: no-repeat;
  width: 75px;
  height: 75px;
  left: 40%;
  right: 50%;
  top: 0px;
}

.polaroid-container img {
  width: 350px;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  border-radius: 6px;
}

.polaroid-container input[type="file"] {
  display: none;
}

.upload-button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #FFF8E5;
  padding: 10px;
  margin: 30px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
}

.upload-button path {
  transition: fill 0.2s;
}

.upload-button:hover path {
  fill: var(--accent1);
}

/* BOOKMARKS */
.bookmarks-container,
.bookmarks-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.bookmarks-container {
  max-height: 75px;
  margin: 40px 10px;
}

@keyframes hop {
  from {
    bottom: 0;
  } to {
    bottom: 12px;
  }
}

@keyframes appearbounceleft {
  from {
    opacity: 0;
    left: 40px;

  } to {
    opacity: 1;
    left: 20px
  }
}

.bookmark {
  position: relative;
  background-color: #FFF8E5;
  box-shadow: 0px 0px 22px 2px rgba(225, 217, 184, 0.20);
  width: 75px;
  height: 75px;
  border-radius: 20px;
  margin: 6px;
  list-style-type: none;
  bottom: 0;
  transition: bottom 0.2s;
  /* animation: hop 0.4s backwards; */
}

.bookmark:hover {
  bottom: 12px;
}

.bookmark a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bookmarks-container .create-button {
  margin-left: 10px;
}

.creator {
  position: relative;
  padding: 20px;
  font-size: 12px;
  border-radius: 16px;
  left: 20px;
  top: -40%;
  animation: appearbounceleft 0.4s;
}

.bookmarks-container .creator::before {
  content: "";
  width: 40px;
  height: 40px;
  display: block;
  position: absolute;
  border-radius: 12px;
  transform: rotate(45deg);
  left: -10px;
  top: 56%;
  z-index: -1;
}

.creator.accent2-bg::before {
  background-color: var(--accent2);
}

.creator input {
  padding: 0px 10px;
  border: none;
  border-radius: 12px;
  margin: 5px 0;
}

.creator button {
  position: absolute;
  background: none;
  border: none;
  bottom: -25px;
  right: 0;
  font-family: 'Roboto Slab';
  text-transform: uppercase;
}

.creator button svg {
  margin-left: 5px;
}

.create-button {
  background: none;
  border: none;
  cursor: pointer;
}

.create-button path {
  transition: fill 0.2s;
}

.create-button:hover path {
  fill: #9A9381;
}

/* TODO LIST */
.todo-container {
  border-left: solid 3px rgba(205, 199, 175, 0.15);
  padding-left: 20px;
}

.list-of-lists {
  position: relative;
}

.list-container {
  background-color: #FFF8E5;
  border: solid 2.55px #FFF8E5;
  border-radius: 24px;
  box-shadow: 0px 0px 22px 2px rgba(225, 217, 184, 0.60);
  height: 75vh;
  width: 500px;
  position: absolute;
  top: 20vh;
  transition: border-color 0.2s, transform 0.4s;
}

div.list-container:nth-of-type(1) {
  transform: rotate(-6deg);
  top: 30vh;
  left: -50px;
}

div.list-container:nth-of-type(2) {
  transform: rotate(-8deg);
  top: 40vh;
  left: -100px;
}

.list-container:hover {
  transform: rotate(-6deg);
}

button.list-container {
  transform: rotate(-4deg);
  left: 130px;
  cursor: pointer;
}

button.list-container::before {
  content: "+ Add New List";
  position: absolute;
  display: block;
  opacity: 0;
  font-family: 'Roboto Slab';
  text-transform: uppercase;
  font-size: 16px;
  color: var(--accent3);
  left: -90px;
  transform: rotate(-90deg);
  top: 75px;
  transition: opacity 0.2s;
}

button.list-container:hover {
  border-color: var(--accent3);
}

button.list-container:hover::before {
  opacity: 1;
}

.date {
  background-color: #FFF8E5;
  box-shadow: 0px 0px 22px 2px rgba(225, 217, 184, 0.20);
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 12px 36px 12px 12px;
  width: 100px;
  height: 100px;
}

.date span:first-of-type {
  font-family: 'Roboto Slab';
  font-size: 1.5em;
  font-weight: 600;
  text-transform: uppercase;
  color: #867D64;
}

.date span:last-of-type {
  font-family: 'Plus Jakarta';
  font-size: 3em;
  font-weight: 800;
  color: #867D64;
  margin: 10px 0;
}